<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonMate - Calculadora</title>
    <link rel="stylesheet" href="calculadora.css">
    <link rel="stylesheet" href="./user-menu.css">
</head>
<body>
    <header class="header">
        <a href="./index.html" class="logo">CarbonMate</a>
        
        <nav id="navigation" class="navigation">
            <a href="./Carbono.html">Carbono</a>
            <a href="./Calculadora.html">Calculadora</a>
            <a href="./Mapas.html">Mapas</a>
            <a href="./Noticias.html">Noticias</a>
            <a href="./signin.html">Entrar</a>
            <a href="./register.html">Cadastrar</a>
        </nav>
    </header>

    <div class="container">
        <h1>Calculadora de Carbono</h1>
        <div class="iframe-container">
            <iframe scrolling="yes" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 CarbonMate. Todos os direitos reservados.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
                const token = localStorage.getItem('token');
                const navigation = document.getElementById('navigation');

                if (token) {
                    // Se o usuário estiver logado, esconde o menu de login/registro e exibe o menu do usuário
                    navigation.innerHTML = `
                        <a href="./Carbono.html">Carbono</a>
                        <a href="./Calculadora.html">Calculadora</a>
                        <a href="./Mapas.html">Mapas</a>
                        <a href="./Noticias.html">Noticias</a>
                        <a href="./profile.html">Perfil</a>
                        <button id="logoutBtn">Logout</button>
                    `;
                } else {
                    // Se o usuário não estiver logado, exibe o menu de login/registro
                    navigation.innerHTML = `
                        <a href="./Carbono.html">Carbono</a>
                        <a href="./Calculadora.html">Calculadora</a>
                        <a href="./Mapas.html">Mapas</a>
                        <a href="./Noticias.html">Noticias</a>
                        <a href="./signin.html">Entrar</a>
                        <a href="./register.html">Cadastrar</a>
                    `;
                }

                // Adiciona o evento de logout apenas se o botão existir
                const logoutBtn = document.getElementById('logoutBtn');
                if (logoutBtn) {
                    logoutBtn.addEventListener('click', () => {
                        localStorage.removeItem('token');
                        window.location.href = './signin.html';
                    });
                }
            });
    </script>
</body>
</html>